
<div>
    <header style="/* Stick to the top */ position: sticky; top: 20; margin-bottom: 30;">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <h1 style="margin: auto; padding: 10px">
            <a href="{% url 'receitas:index'%}" style="margin-right: 20px">Início</a>
            <a href="{% url 'receitas:receitas'%}" style="margin-right: 20px">Receitas</a>
            <a href="{% url 'receitas:despesas'%}">Despesas</a>
        </h1>
    </header>
    <hr />
    <main>
        {% block branding %}
        {% endblock %}
    </main>
</div>

