{% extends "receitas/base_site.html" %}

{% block branding %}

<div style="height: 80vh; overflow-y: scroll;">
    <ul>
        {% for key in dados %}
        <li>
            {{key}}
            {% for value in dados|get_value_from_dict:key %}
                <ul>
                    <li>
                        R$ {{value.1}} doados por <a href="{% url 'receitas:pessoa_detail' value.0.1.id %}">{{ value.0.1 }}</a> {% if value.0.0 %} sócio nas seguintes empresas: {% endif %}
                        {% for empresa in value.0.0 %}
                            <ul>
                                <li>
                                    {{ empresa }}
                                </li>
                            </ul>
                        {% endfor %}
                    </li>
                </ul>
            {% endfor %}
        </li>
        {% endfor %}

    </ul>
</div>

{% endblock %}