{% extends "receitas/base_site.html" %}

{% block branding %}
<div style="margin: 20px">
    <p>Site criado para análise de entrada e saída de receita dos candidatos à prefeito de Maceió.</p>

    <p>Os dados referentes aos candidatos foram obtidos através do portal: <a href="https://divulgacandcontas.tse.jus.br/divulga/#/municipios/2020/2030402020/27855/candidatos">Divulgação de Candidaturas e Contas Eleitorais</a>.</p>

    <p>Os dados referentes às relações entre pessoas e empresas foram obtidos através do portal: <a href="https://brasil.io/dataset/socios-brasil/socios/">Brasil.io</a>.</p>


</div>
{% endblock %}
